# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Editor files
*.swp

# Other files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
examples/client
examples/echo_server
